<!DOCTYPE HTML>
<!--
<<<<<<< HEAD
    Arcana by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
=======
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
>>>>>>> 018711d17c1435db89a93020f169397026aa68da
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Happy Birds par NAO{% endblock %}</title>
        {% block stylesheets %}
            <!--[if lte IE 8]><script src="/web/js/ie/html5shiv.js"></script><![endif]-->
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
<<<<<<< HEAD
            <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
=======
>>>>>>> 018711d17c1435db89a93020f169397026aa68da
            <!--[if lte IE 8]><link rel="stylesheet" href="/web/css/ie8.css" /><![endif]-->
            <!--[if lte IE 9]><link rel="stylesheet" href="/web/css/ie9.css" /><![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<<<<<<< HEAD
    {% block body %}
=======
    <body>
        {% block body %}

>>>>>>> 018711d17c1435db89a93020f169397026aa68da
        <body>
        <div id="page-wrapper">

            <!-- Header -->
            <div id="header">

                <!-- Logo -->
<<<<<<< HEAD
                <img id="logo_header" src="{{ asset('images/hibou.png') }}" alt="Petit Hibou" />
=======
>>>>>>> 018711d17c1435db89a93020f169397026aa68da
                <h1><a href="index.html" id="logo">Happy Birds <em>par NAO</em></a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
<<<<<<< HEAD
                        <li class="current"><a href="{{ path('nao_app_homepage') }}">Accueil</a></li>
=======
                        <li class="current"><a href="index.html">Accueil</a></li>
>>>>>>> 018711d17c1435db89a93020f169397026aa68da
                        <li><a href="#">Consulter les observations</a></li>
                        <li><a href="#">Ajouter une observation</a></li>
                    </ul>
                </nav>

            </div>

            <!-- Banner -->
            <section id="banner">
                <header>
                    <h2>Happy Birds: <em>Une application pour partager votre passion des oiseaux</em></h2>
                    <!--<a href="#" class="button">Choisir une action...</a>-->
                </header>
            </section>

<<<<<<< HEAD
        <!-- Dont forget to add the </div> in the end if call parent() -->
=======


        </div>
>>>>>>> 018711d17c1435db89a93020f169397026aa68da
        {% endblock %}
        {% block javascripts %}
            <!-- Scripts -->
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
            <script src="{{ asset('js/skel.min.js') }}"></script>
            <script src="{{ asset('js/util.js') }}"></script>

            <!--[if lte IE 8]><script src=<script src="{{ asset('js/ie/respond.min.js') }}"></script>></script><![endif]-->

            <script src={{ asset('js/main.js') }}></script>
<<<<<<< HEAD

            <script>
                $('#nav ul li').on('click', function(e){
                    e.preventDefault();
                    $('#nav ul li').removeClass('current');
                    $(this).addClass('current');
                });
            </script>
=======
>>>>>>> 018711d17c1435db89a93020f169397026aa68da
        {% endblock %}
    </body>
</html>






