{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <div id="mapid"></div>
    {{ form_start(form, {'attr':{'id':'form_add_observ'}})}}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
    /** localize autocomplete **/
    // live region extension, adding a `messages` option
// NOTE: This is an experimental API. We are still investigating
// a full solution for string manipulation and internationalization.
(function( $, undefined ) {
$.widget( "ui.autocomplete", $.ui.autocomplete, {
	options: {
		messages: {
			noResults: "Pas de resultats.",
			results: function( amount ) {
				return amount + ( amount > 1 ? " resultats sont" : " resultat est" ) +
					" disponible, utilisez les touches haut et bas pour naviguez.";
			}
		}
	},

	__response: function( content ) {
		var message;
		this._superApply( arguments );
		if ( this.options.disabled || this.cancelSearch ) {
			return;
		}
		if ( content && content.length ) {
			message = this.options.messages.results( content.length );
		} else {
			message = this.options.messages.noResults;
		}
		this.liveRegion.text( message );
	}
});

}( jQuery ));
    </script>
    <script>
    //helper
function valInCache(val,objt)
{
	for (var property in objt) {
	
    		for (var prop in objt[property]) {
        		this_val = objt[property][prop];
        		console.log(this_val);
        		if(this_val === val)
        		{
            		return true;
            		break;
        		}
			}
	}
    return false;
}
        // AUTO-COMPLETE BIRD INPUT
        (function($) {
        
        function initMap(position){
            var map = L.map('mapid').setView([position.coords.latitude, position.coords.longitude], 15);

            var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map);

            // create the tile layer with correct attribution
            var tuileUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';

            var attrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

            var osm = L.tileLayer(tuileUrl, {
                minZoom: 8,
                maxZoom: 17,
                attribution: attrib
            });

            var popup = L.popup();

            function onClickAddMarker(e){
            	var ll = e.latlng;
            	popup
                        .setLatLng(ll)
                        .setContent("Vous avez placé un marqueur à la position "+ e.latlng.toString())
                        .openOn(map);
                marker
                        .setLatLng(ll)
                        .update();
                $('#observation_lat').val(ll.lat);
                $('#observation_lng').val(ll.lng);
            }

            osm.addTo(map);

            map.on('click', onClickAddMarker);
        };
        
        var cache = {};
        $('#observation_bird').autocomplete({
            	minLength: 2,
                source : function(request, response){
                    var motcle = $('#observation_bird').val();
                    var data = 'motcle=' + motcle;
                    var term = request.term;
        			if ( term in cache ) {
          				response( cache[ term ] );
          				return;
        			}

                    $.ajax({
                        type:"POST",
                        url : "{{ path('nao_app_ajax_bird') }}",
                        dataType : 'json',
                        data : data,

                        success : function(data){
                        	cache[ term ] = data;
                            response($.map(data, function(object){
                                return object;
                            }));
                        }
                    });
                }
        });
            
        if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(initMap);
        }
                
        $('#observation_bird').val('');
         
           
        $("#observation_save").on("click", function( e ) {
            
        	e.preventDefault();
            if( valInCache( $('#observation_bird').val(), cache ) && $("#form_add_observ").get()[0].checkValidity())
            {
            	$("#form_add_observ").submit();
            //console.log( valInCache( $('#observation_bird').val(), cache ) );
            	} else {
            	// in modal check the error
            	console.warn("pas d'oiseau", cache, $('#observation_bird').val() );
            	
            }
        });
        
            
        })(jQuery);

       
    </script>
{% endblock %}