{% extends "AppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    {{ parent() }}
        <h2>Partagez votre passion des oiseaux ! </h2>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
        </div>
        {% endif %}

    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="flash-notice alert alert-info">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% if is_granted("ROLE_OBSERVER") %}
        {% include 'AppBundle::Home/createObservation.html.twig' %}
    {% elseif (is_granted("ROLE_NATURALIST") or is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")) %}
        {% include 'AppBundle::Home/createObservation.html.twig' %}
    {% else %}
    {% endif %}
{% endblock %}
{% block javascripts %} {{ parent() }} {% endblock %}