{% extends "AppBundle::layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {{ parent() }}


{% endblock %}
{% block body %}
	{% block heading %} {{ parent() }} {% endblock %}
	<div id="selection" class="call">
        <h2>sélectionner l'espèce à afficher</h2>
        <input id="observation_bird" size="53"/><button class="addSpecies">Ajouter</button>

	</div> 
	<div class="showingSpecies"></div>
    <div id="map"></div>
    {% for bird in birds %}
    {{bird.id }}, {{bird.comment }}
    {% endfor %}



{% endblock %}
{% block footer %}{{ parent() }}{% endblock  %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        (function($) {


            /** localize autocomplete **/
            // live region extension, adding a `messages` option
// NOTE: This is an experimental API. We are still investigating
// a full solution for string manipulation and internationalization.
            (function( $, undefined ) {
                $.widget( "ui.autocomplete", $.ui.autocomplete, {
                    options: {
                        messages: {
                            noResults: "Pas de résultats.",
                            results: function( amount ) {
                                return amount + ( amount > 1 ? " résultats sont" : " résultat est" ) +
                                        " disponible, utilisez les touches haut et bas pour naviguer.";
                            }
                        }
                    },

                    __response: function( content ) {
                        var message;
                        this._superApply( arguments );
                        if ( this.options.disabled || this.cancelSearch ) {
                            return;
                        }
                        if ( content && content.length ) {
                            message = this.options.messages.results( content.length );
                        } else {
                            message = this.options.messages.noResults;
                        }
                        this.liveRegion.text( message );
                    }
                });

            }( jQuery ));





        $observation_bird = $('#observation_bird');

            //init map in globally scope
            var map = new L.Map('map');
            var refLayer = [];
            var getRefToLayerControl = false;
            map.setView([48.86, 3.333], 6.3);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            if(getRefToLayerControl === false) {
                getRefToLayerControl =  L.control.layers( null, null ).addTo( map );
            };

            var fillMap = function(items){
                var layersGroups = L.layerGroup();
                refLayer[ items[0].bird.lbNom ] =  layersGroups;
                var l = items.length;
                for (var i=0; i<l; i++){
                    var marker = L.marker( [ items[i].lat , items[i].lng ] ).bindPopup( items[0].bird.lbNom );
                    layersGroups.addLayer( marker );
                };
               layersGroups.bindPopup( items[0].bird.lbNom ).addTo(map);
                getRefToLayerControl.addOverlay( refLayer[ items[0].bird.lbNom ] , items[0].bird.lbNom   );
            };

        var cache = {};
        $observation_bird.autocomplete({
            	minLength: 2,
                source : function(request, response){
                    var motcle = $observation_bird.val();
                    var data = 'motcle=' + motcle;
                    var term = request.term;
        			if ( term in cache ) {
          				response( cache[ term ] );
          				return;
        			}

                    $.ajax({
                        type:"POST",
                        url : "{{ path('nao_app_ajax_bird') }}",
                        dataType : 'json',
                        data : data,

                        success : function(data){
                        	cache[ term ] = data;
                            response($.map(data, function(object){
                                return object;
                            }));
                        }
                    });
                }
        });


            
            $(".addSpecies").on("click", function(){

            var speciesToAdd = "<span class='addedSpecies button' id='" +$observation_bird.val() + "' >" + $observation_bird.val() + "<span class='remove'>&nbsp;&nbsp;X</span</span>";
            $(".showingSpecies").append(speciesToAdd);
                $(".remove").on('click', function () {
                    refLayer[ $(this).parent().attr("id") ].clearLayers();
                    getRefToLayerControl.removeLayer( refLayer[ $(this).parent().attr("id") ] )  ;
                    $(this).parent().remove();


                });
            data = "bird=" + $observation_bird.val().replace(/ /gi,"%20");
            $.ajax({
  				method: "POST",
  				url: "{{ path('nao_app_get_observations_by_bird') }}",
  				data: data,
  				cache: false
			})
  			.done(function( response ) {
                fillMap(response);
   				//console.log("résultats :" + JSON.stringify(response));
                $observation_bird.val('');
            })
                    .error(function(){console.log("error")});
            
            });



        })(jQuery)
    </script>
{% endblock %}