{% extends "AppBundle::layout.html.twig" %}
{% block stylesheets %} {{ parent() }}
	<style>form {background: none;}</style>

{% endblock %}
{% block body %}
	{% block heading %} {{ parent() }} {% endblock %}

<form class="tableObservation">
contributions
<table id="observations" class="display nowrap dataTable responsive" role="grid">
	<thead>
		<tr>
			<th>id</th><th>commentaires</th>
			<th>date</th><th>type d'oiseau</th>
			<th>Latitude</th><th>Longitude</th>
			<th>image</th>
			<th>voir sur la carte</th>
			<th>statut</th>
		</tr>
	</thead>
	<tbody>
	{% for observation in observations %}
		<tr>
			<td class="theID">{{ observation.id }}</td><td> {{ observation.comment }}</td>
			<td>{{ observation.date|date("m/d/Y  H:i", false) }}</td><td class="bird">{{ observation.bird.lbNom }}</td>
			<td class="gps"> {{ observation.lat }}</td><td class="gps"> {{ observation.lng }}</td>
			<td class="photos">{% if (observation.image) %} <img src="{{ server ~ asset( folder  ~ '/' ~ 'thumb_'  ~ observation.image ) }}" class="thumb"/>    {%endif %}</td>
			<td><button class="showMap button" data-lat="{{ observation.lat }}" data-lng="{{ observation.lng }}">voir sur la carte</button></td>
			<td>{{ observation.statut }}</td>
		</tr>
 	{% endfor %}
 	<tbody>
</table>
</form>
 
</div>
<hr />
<!-- Modal content -->
<div id="myModal" class="modal" >
<div class="modal-content">
  <div class="modal-header">
    <span class="close">×</span>
    <h2>Modal Header</h2>
  </div>
  <div class="modal-body">
  	<div id="modalMap"></div>
  </div>
  <div class="modal-footer">
    <h3></h3>
  </div>
</div>
</div>
<!-- /endModal -->


{% endblock %}
{% block footer %}{{ parent() }}{% endblock  %}


{% block javascripts %} {{ parent() }} 
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
	<script src="{{ asset('/js/libs/datatables/js/jquery.dataTables.min.js')}}"></script>
	<script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
	<script>
       



(function($){

var modalMap = $("#modalMap");
modalMap.css({height : '70vh'});

	

//draggable
var modal = $('#myModal');
modal.draggable(  ); //launch one to initialize
	$(".modal-header").hover( function(){ 
		modal.draggable( "option", "disabled", false);
	}, 
	function(){ 
		modal.draggable( "option", "disabled", true );
	});

var launchModal = function(title){

	var modal = $('#myModal');
	var span = $(".close");
	span.on("click", function() {
    	modal.css({display : "none" });
	});
	
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
    	if (event.target == modal) {
        	modal.css({display : "none" });
    	}
	}
	//set title
	$(".modal-header h2").text( title );
	modal.css({display : "block" })
	
	return ;
}
/*//// begin map ////**/

//init map in globally scope
var map = new L.Map('modalMap');



function initMap(lat, lng, typeOfBird){
	
	map.setView([lat,lng], 13);
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	L.marker([lat, lng]).addTo(map)
    .bindPopup( typeOfBird )
    .openPopup();
    	
};
	
	$(".showMap").on("click", function(e){
	e.preventDefault();
	var lat = $(this).data('lat');
	var lng = $(this).data('lng');
	var bird = $(this).parent().parent().find(".bird").text();
	launchModal(bird);
	initMap(lat,lng, bird );
		
	});

/**///////// end map /////////////**/


	// must match with twig filter observation.date|date
	$.fn.dataTable.moment('m/d/Y  H:i');
	//init sortable table
	$("#observations").DataTable({
		"scrollX": true,
		language: {
        	processing:    "Traitement en cours...",
        	search:        "Rechercher&nbsp;:",
        	lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        	info:          "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        	infoEmpty:     "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
			infoFiltered:  "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        	infoPostFix:   "",
        	loadingRecords: "Chargement en cours...",
        	zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        	emptyTable:     "Aucune donnée disponible dans le tableau",
        	paginate: {
            	first:      "Premier ",
            	previous:   "Pr&eacute;c&eacute;dent ",
            	next:       " Suivant",
            	last:       " Dernier"
        	},
        	aria: {
            	sortAscending:  ": activer pour trier la colonne par ordre croissant",
            	sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }
});


})(jQuery);
</script>
{% endblock %}