{% extends "AppBundle::layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {{ parent() }}

{% endblock %}
{% block body %}
	{% block heading %} {{ parent() }} {% endblock %}
	<div id="selection" class="call">
        <h2>sélectionner l'espèce à afficher</h2>
        <input id="observation_bird" size="53"/><button class="addSpecies">Ajouter</button>

	</div> 
	<div class="debug"></div>
    <div id="map"></div>
    {% for bird in birds %}
    {{bird.id }}, {{bird.comment }}
    {% endfor %}



{% endblock %}
{% block footer %}{{ parent() }}{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% include('AppBundle::_Autocomplete.js.html.twig') %}
    <script>
    

        (function($) {
        $observation_bird = $('#observation_bird');


            //init map in globally scope
            var map = new L.Map('modalMap');
            var markers = new L.FeatureGroup();
            function removeAllMarkers(){
                map.removeLayer(markers);
            };

            function initMap(lat, lng, typeOfBird){

                map.setView([lat,lng], 13);
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                var marker = L.marker([lat, lng]);
                marker.bindPopup( typeOfBird )
                        .openPopup();
                markers.addLayer(marker);
                map.addLayer(markers);
            };

            $(".clean").on("click", function(){
                removeAllMarkers();
            });
        
        var cache = {};
        $observation_bird.autocomplete({
            	minLength: 2,
                source : function(request, response){
                    var motcle = $observation_bird.val();
                    var data = 'motcle=' + motcle;
                    var term = request.term;
        			if ( term in cache ) {
          				response( cache[ term ] );
          				return;
        			}

                    $.ajax({
                        type:"POST",
                        url : "{{ path('nao_app_ajax_bird') }}",
                        dataType : 'json',
                        data : data,

                        success : function(data){
                        	cache[ term ] = data;
                            response($.map(data, function(object){
                                return object;
                            }));
                        }
                    });
                }
        });
            
             if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(initMap);
            }
                
            $('#observation_bird').val('');
            
            $(".addSpecises").on("click", function(){
            var speciesToAdd = $('#observation_bird').val();
            $(".debug").append(speciesToAdd);
            data = "bird=" + speciesToAdd.replace(/ /gi,"%20");
            $.ajax({
  				method: "POST",
  				url: "{{ path('nao_app_get_observations_by_bird') }}",
  				data: data,
  				cache: false
			})
  			.done(function( response ) {
   				console.log("resultats :" + response);
   				
   				
   				
   				
  			});
            
            });
        })(jQuery);

       
    </script>
{% endblock %}