{% extends "AppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Administration  {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
<div id="page-wrapper">

            {% block heading %}
            <!-- Header -->
            <div id="header">

                <!-- Logo -->
                <img id="logo_header" src="{{ asset('images/hibou.png') }}" alt="Petit Hibou" />
                <h1><a href="index.html" id="logo">Happy Birds <em>par NAO</em></a></h1>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                        <li {%if app.request.attributes.get('_route') == 'nao_app_user_management' %} class="current" {% endif %}><a href="{{ path('nao_app_user_management') }}">Gestion des utilisateurs<span class="sr-only"></span></a></li>
                    	{% endif %}
                    	<li {%if app.request.attributes.get('_route') == 'nao_app_observations_management' %} class="current" {% endif %}><a href="{{ path('nao_app_observations_management') }}">Valider observations</a></li>
                    	<li {%if app.request.attributes.get('_route') == 'nao_app_observations_viewer' %} class="current" {% endif %}><a href="{{ path('nao_app_observations_viewer') }}">Voir les observations</a></li>
                        <li {%if app.request.attributes.get('_route') == 'nao_app_homepage' %} class="current" {% endif %}><a href="{{ path('nao_app_homepage') }}">Retour au site</a></li>
                    </ul>
                </nav>
            </div>
            {% endblock %}


    {% block container %}
    {% endblock %}
{% endblock %}
    {% block footer %}{{ parent() }}{% endblock  %}

{% block javascripts %} {{ parent() }} {% endblock %}