{% extends "AppBundle::Admin/index.html.twig" %}

{% block stylesheets %} {{ parent() }} 
<link rel="stylesheet" href="{{ asset('/js/libs/datatables/css/jquery.dataTables.min.css') }}" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<style>
#map{ width:400px; height:400px;}
.photos{width:80px; height:auto;}
}
</style>
{% endblock %}

{% block title %} Observations{% endblock %}


{% block container %}
<div class="col-xs-12">
{% for key,trad in possibleStatus %}
<a href="?statut={{key}}">{{ trad }}</a>
{% endfor %}
</div>
<div class="col-xs-12">

<form class="tableObservation">
contributions
<table id="observations">
<thead>
	<tr>
	<th>id</th><th>commentaires</th>
	<th>date</th><th>type d'oiseau</th>
	<th>Latitude</th><th>Longitude</th><th>role</th>
	<th>nickname</th><th>image</th>
	<th>voir sur la carte</th>
	
	</tr>
</thead>
<tbody>
{% for observation in observations %}
<tr><td class="theID">{{ observation.id }}</td><td> {{ observation.comment }}</td>
	<td>{{ observation.date|date("m/d/Y", false) }}</td><td class="bird">{{ observation.bird.lbNom }}</td>
	<td class="gps"> {{ observation.lat }}</td><td class="gps"> {{ observation.lng }}</td>
	<td> {{ observation.user.roles|first }} </td> <td class="userID"><a href="?userID={{observation.user.id}}"> {{ observation.user }} </a></td>
	<td class="photos">{% if (observation.image) %} <img src="{{ server ~ asset( folder  ~ '/' ~ 'thumb_'  ~ observation.image ) }}" />    {%endif %}</td> 
	<td><button class="showMap" data-lat="{{ observation.lat }}" data-lng="{{ observation.lng }}">voir sur la carte</button></td>
</tr>
 {% endfor %}
 <tbody>
</table>
</form>
 
</div>
<hr />
<div id="map"></div>

{% endblock %}


{% block javascripts %} {{ parent() }} 
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="{{ asset('/js/libs/datatables/js/jquery.dataTables.min.js')}}"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script>
       



(function($){

/*//// begin map ////**/

//init map in globally scope
var map = new L.Map('map');
	function initMap(lat, lng, typeOfBird){
	
	map.setView([lat,lng], 13);
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	L.marker([lat, lng]).addTo(map)
    .bindPopup( typeOfBird )
    .openPopup();
    	
};
	
	$(".showMap").on("click", function(e){
	e.preventDefault();
	var lat = $(this).data('lat');
	var lng = $(this).data('lng');
	var bird = $(this).parent().parent().find(".bird").text();
	initMap(lat,lng, bird );
		
	});

/**///////// end map /////////////**/


	// must match with twig filter observation.date|date
	$.fn.dataTable.moment('m/d/Y');
	//init sortable table
	$("#observations").DataTable({
    language: {
        processing:     "Traitement en cours...",
        search:         "Rechercher&nbsp;:",
        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
            first:      "Premier",
            previous:   "Pr&eacute;c&eacute;dent",
            next:       "Suivant",
            last:       "Dernier"
        },
        aria: {
            sortAscending:  ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }
});
	// get select change and send an ajax request
	$("select").on("change", function(){
		var IdToModify = $(this).parent().parent().find(".theID").text();
		var newStatut = this.value;
		var data = {"id" : IdToModify, "statut" : newStatut};
		//console.log(IdToModify, newStatut);
		$.ajax({
            type: "POST",
            url: "{{ path('nao_app_alter_observation_statut') }}",
            data: data,
            success: function(data, dataType)
            {
                console.log(data);
            },

            error: function(XMLHttpRequest, textStatus, errorThrown)
            {
                console.error('Error : ' + errorThrown);
        	},
        	cache: false
        })
	});

})(jQuery);
</script>
{% endblock %}