{% extends "AppBundle::Admin/index.html.twig" %}

{% block stylesheets %} {{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/af-2.1.2/b-1.2.2/b-html5-1.2.2/cr-1.3.2/r-2.1.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
	<style>
		.photos{width:80px; height:auto;}
	</style>
{% endblock %}

{% block title %} Observations{% endblock %}


{% block container %}
<div class="col-xs-12">
{% for key,trad in possibleStatus %}
<a href="?statut={{key}}">{{ trad }}</a>
{% endfor %}
</div>
<div class="col-xs-12">

<form class="tableObservation">
contributions
<table id="observations" class="display nowrap dataTable" role="grid">
<thead>
	<tr>
	<th>id</th><th>commentaires</th>
	<th>date</th><th>type d'oiseau</th>
	<th>Latitude</th><th>Longitude</th><th>role</th>
	<th>nickname</th><th>image</th>
	<th>voir sur la carte</th>
	
	</tr>
</thead>
<tbody>
{% for observation in observations %}
<tr><td class="theID">{{ observation.id }}</td><td> {{ observation.comment }}</td>
	<td>{{ observation.date|date("d/m/Y : H:i", false) }}</td><td class="bird">{{ observation.bird.lbNom }}</td>
	<td class="gps"> {{ observation.lat }}</td><td class="gps"> {{ observation.lng }}</td>
	<td> {{ observation.user.roles|first }} </td> <td class="userID"><a href="?userID={{observation.user.id}}"> {{ observation.user }} </a></td>
	<td class="photos" >{% if (observation.image) %} <img src="{{ server ~ asset( folder  ~ '/' ~ 'thumb_'  ~ observation.image ) }}" class="thumb"/>    {%endif %}</td>
	<td><button class="showMap button" data-lat="{{ observation.lat }}" data-lng="{{ observation.lng }}">voir sur la carte</button></td>
</tr>
 {% endfor %}
 <tbody>
</table>
</form>
 
</div>
	{%  include('AppBundle::_modal.html.twig') with { showMap : true } %}
    <div id="popupImg" class="popup alert">
        <p><img /></p>
    </div>

{% endblock %}


{% block javascripts %} {{ parent() }} 
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/r-2.1.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
	<script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
	<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script>
       



(function($){

// thumb to large
    $("#popupImg").hide();
    $("#popupImg").on("click", function(){
        $(this).toggle();

    });
  $(".thumb").on("click", function (e) {
      var source = e.target.src;
      source = source.replace('thumb_','');
      $("#popupImg").show()
              .find('p img')
              .attr('src', source);


  }) ;

/*//// begin map ////**/


//init map in globally scope
	var map = new L.Map('modalMap');
	var markers = new L.FeatureGroup();
	function removeAllMarkers(){
		map.removeLayer(markers);
	};

	function initMap(lat, lng, typeOfBird){

		map.setView([lat,lng], 13);
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		var marker = L.marker([lat, lng]);
		marker.bindPopup( typeOfBird )
				.openPopup();
		markers.addLayer(marker);
		map.addLayer(markers);
	};

	$(".clean").on("click", function(){
		removeAllMarkers();
	});
	
	$(".showMap").on("click", function(e){
	e.preventDefault();
	var lat = $(this).data('lat');
	var lng = $(this).data('lng');
	var bird = $(this).parent().parent().find(".bird").text();
		launchModal(bird);
	initMap(lat,lng, bird );
		
	});

/**///////// end map /////////////**/


	// must match with twig filter observation.date|date
	$.fn.dataTable.moment('d/m/Y :H:i');
	{% include('AppBundle::_dataTable.js.html.twig') %}
    // get select change and send an ajax request
	$("select").on("change", function(){
		var IdToModify = $(this).parent().parent().find(".theID").text();
		var newStatut = this.value;
		var data = {"id" : IdToModify, "statut" : newStatut};
		//console.log(IdToModify, newStatut);
		$.ajax({
            type: "POST",
            url: "{{ path('nao_app_alter_observation_statut') }}",
            data: data,
            success: function(data, dataType)
            {
                console.log(data);
            },

            error: function(XMLHttpRequest, textStatus, errorThrown)
            {
                console.error('Error : ' + errorThrown);
        	},
        	cache: false
        })
	});

})(jQuery);
</script>
{% endblock %}